[client]
port    = 3306
socket  = /var/mysqld/mysqld.socket

[mysqld]
user				= mysql
pid-file			= /var/run/mysqld/mysqld.pid
socket				= /var/run/mysqld/mysqld.sock
bind-address		= 0.0.0.0
port				= 3306
basedir				= /usr
datadir				= /var/lib/mysql
secure-file-priv	= NULL
log_error			= /var/lib/mysql/log



!includedir /etc/mysql/conf.d/